

.home {
  /* /cards */


position: relative;
width: 414 px;
height: 896 px;

background: #FFFFFF;
  position: absolute;
  width: 283 px;
  height: 63 px;
  left: 46 px;
  top: 193 px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 26 px;
  line-height: 30 px;
  display: flex;
  align-items: center;
  
  color: #000000;
  }

  .TopCard {
    position:absolute;
width:304 px;
height:26 px;
left:55 px;
top:108 px;

font-family:Sans Pro;
font-style:normal;
font-weight : 600;
font-size:12 px;
line-height:15  px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: rgba(34, 34, 34, 0.6);

}

/* E-WalLet */

.top
{
position: absolute;
width: 304 px;
height: 98 px;
left: 55 px;
top: 9 px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 35 px;
line-height: 35 px;
/* or 35px */

display:flex;
align-items:center;
text-align:center;
text-transform:uppercase;

color:#222222;
}
/* /cards */

.cards{
position: relative;
width: 414 px;
height: 896 px;

background: #FFFFFF;
}

/* Add a new banK card */

.addCard{
position: absolute;
width: 250 px;
height: 98 px;
left: 82 px;
top: 9 px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 35 px;
line-height: 35 px;
/* or 35px */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #222222;


position: absolute;
width: 382 px;
height: 241 px;
left: 16 px;
top: 138 px;

background: linear-gradient(248.3 deg, rgba(255, 255, 255, 0.24) 0 %, rgba(255, 255, 255, 0) 100 %), #D0D0D0;
box-shadow: 0 px 0 px 16 px rgba(0, 0, 0, 0.08);
border-radius: 8 px;}