.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home {
  position: absolute;
  width: 283 px;
  height: 63 px;
  left: 46 px;
  top: 193 px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 26 px;
  line-height: 30 px;
  display: flex;
  align-items: center;
  
  color: #000000;
  }

  TopCard {
    position:absolute;
width:304 px;
height:26 px;
left:55 px;
top:108 px;

font-family:Sans Pro;
font-style:normal;
font-weight : 600;
font-size:12 px;
line-height:15  px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: rgba(34, 34, 34, 0.6);

}

